.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    flex-wrap: wrap;
    gap: $gap-32;
  
    article {
      width: 20%;
      min-height: 290px;
      background-color: $color-dark-200;
      border: 2px solid $color-dark-400;
      border-radius: 4px;
      padding: $gap-24;
      flex-grow: 1;
  
      @include responsive-desktop {
        width: 48%;
        min-height: auto;
      }
  
      @include responsive-tablet {
        min-height: auto;
      }
  
      img {
        width: 40px;
      }
  
      h3 {
        font-size: 1.8rem;
        margin: $gap-24 0px $gap-16 0px;
        font-weight: 500;
        @include responsive-mobile {
          font-size: 2rem;
        }
      }
  
      p {
        font-size: 1.6rem;
        line-height: 160%;
        color: $color-gray;
      }
    }
  }
  