footer {
    width: 100%;
    height: auto;
    padding: $gap-16 0px;
    background-color: $color-dark-200;
  
    .grid-layout {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  
    p {
      font-size: 1.8rem;
      a {
        font-weight: 500;
        color: $color-main;
      }
    }
  
    img {
      width: 32px;
    }
  
    div {
      display: flex;
      align-items: center;
      gap: $gap-16;
    }
  
    @include responsive-desktop {
      .grid-layout {
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: $gap-40;
  
        div {
          display: none;
        }
      }
    }
  }
  