* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-descripiton;
  }
  
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  p {
    margin: 0;
    font-family: $font-descripiton;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-family: $font-title;
  }
  
  button,
  input {
    border: 0;
    font-family: $font-title;
    &:focus {
      border: 0;
    }
  }
  
  body {
    font-family: $font-descripiton;
    background-color: $color-dark;
    color: $color-white;
    overflow-x: hidden;
    min-height: 100vh;
  }
  
  html {
    scroll-behavior: smooth;
    font-size: 62.5%;
  }
  
  ::-webkit-scrollbar {
    width: $gap-8;
  }
  
  ::-webkit-scrollbar-track {
    background-color: $color-dark-400;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #a6fb98;
    border-radius: $gap-8;
  }
  