#s-technologies {
    padding: $gap-96 0px;
  
    @include responsive-desktop {
      padding: $gap-40 0px;
    }
  
    h2 {
      font-size: 3.2rem;
      max-width: 45%;
      font-weight: 500;
      margin-bottom: $gap-56;
  
      @include responsive-desktop {
        max-width: 100%;
        font-size: 2.4rem;
      }
  
      b {
        background-image: $color-primary;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  