$font-title: "Sora";
$font-descripiton: "Inter";

$color-primary: linear-gradient(227.23deg, #78e3d1 7.65%, #a6fb98 67.82%);

$color-main: #a6fb98;
$color-main-hover: #87da7a;

$color-white: #ffffff;
$color-gray: #bfbfbf;

$color-dark: #030007;
$color-dark-200: #08040d;
$color-dark-400: #130b1d;

$gap-8: 8px;
$gap-16: 16px;
$gap-24: 24px;
$gap-32: 32px;
$gap-40: 32px;
$gap-48: 48px;
$gap-56: 56px;
$gap-64: 64px;
$gap-72: 72px;
$gap-80: 80px;
$gap-88: 88px;
$gap-96: 96px;

@mixin responsive-desktop {
  @media screen and (max-width: 1140px) {
    @content;
  }
}

@mixin responsive-tablet {
  @media screen and (max-width: 688px) {
    @content;
  }
}

@mixin responsive-mobile {
  @media screen and (max-width: 540px) {
    @content;
  }
}

@mixin spacing-section() {
  padding: $gap-96 $gap-56;
  @include responsive-tablet {
    padding: $gap-32 $gap-24;
  }
}

@mixin flexbox-between() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexbox-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid-layout() {
  max-width: 1216px;
  margin: 0 auto;
  padding: 0px 24px;
}
