* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat"
}

ul,ol {
    list-style: none;
    margin: 0;
    padding: 0
}

:root {
    --primary-color: #001446;
}

a {
    text-decoration: none
}

img {
    max-width: 100%;
    height: auto;
    display: block
}

p {
    margin: 0;
    font-family: "Montserrat"
}

button {
    margin: 0;
    padding: 0
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-family: "Montserrat";
    font-weight: 500
}

button,input {
    border: 0;
    font-family: "Montserrat"
}

button:focus,input:focus {
    border: 0
}

body {
    font-family: "Montserrat";
    background-color: #111;
    color: #fff;
    overflow-x: hidden;
    min-height: 100vh
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%
}

::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-track {
    background-color: #000000
}

::-webkit-scrollbar-thumb {
    background-color: #001446;
    border-radius: 8px
}

#s-menu {
    width: 100%;
    height: auto;
    padding: 32px 0px;
    margin-top: 38px
}

#s-menu .grid-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
}

@media screen and (max-width: 688px) {
    #s-menu .grid-layout div:nth-child(1) {
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px
    }
}

#s-menu .grid-layout div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 48px
}

@media screen and (max-width: 688px) {
    #s-menu .grid-layout div:nth-child(2) {
        width:100%
    }
}

@media screen and (max-width: 1140px) {
    #s-menu .grid-layout div:nth-child(2) nav {
        display:none
    }
}

#s-menu .grid-layout div:nth-child(2) nav ul {
    display: flex;
    align-items: center;
    gap: 48px
}

#s-menu .grid-layout div:nth-child(2) nav ul li a {
    font-size: 1.8rem;
    color: #e1e1e6;
    font-weight: 400
}

#s-menu .grid-layout div:nth-child(2) nav ul li a:hover {
    color: #fff
}

#s-menu .grid-layout div:nth-child(2)>a {
    padding: 16px 32px;
    border-radius: 4px;
    text-align: center;
    background: #111;
    position: relative
}

#s-menu .grid-layout div:nth-child(2)>a::before {
    content: "";
    position: absolute;
    inset: -2px;
    z-index: -1;
    border-radius: 5px;
    background: white;
    
    
}

@media screen and (max-width: 688px) {
    #s-menu .grid-layout div:nth-child(2)>a {
        width:100%
    }
}

#s-menu .grid-layout div:nth-child(2)>a button {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.6rem;
    color: #fff;
    background-color: rgba(205, 16, 16, 0);
    cursor: pointer
}

#s-menu .grid-layout div:nth-child(2)>a:hover {
    background: #171717
}

#s-home {
    padding: 100px 0px
}

@media screen and (max-width: 1140px) {
    #s-home {
        padding:32px 0px
    }
}


@media screen and (max-width: 1140px) {
    #s-home .grid-layout #container-home {
        flex-wrap:wrap;
        gap: 48px
    }
}

#s-home .grid-layout #container-home #info-main {
    width: 50%
}

@media screen and (max-width: 1140px) {
    #s-home .grid-layout #container-home #info-main {
        width:100%
    }
}

#s-home .grid-layout #container-home #info-main span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 324px;
    background-color: #151515;
    border: 2px solid #1f1f1f;
    border-radius: 32px;
    padding: 8px 32px;
    margin-bottom: 32px
}

@media screen and (max-width: 688px) {
    #s-home .grid-layout #container-home #info-main span {
        width:100%
    }
}

#s-home .grid-layout #container-home #info-main span p {
    font-size: 1.6rem
}

#s-home .grid-layout #container-home #info-main h1 {
    font-size: 5.6rem;
    font-weight: 500;
    width: 600px
}

@media screen and (max-width: 1140px) {
    #s-home .grid-layout #container-home #info-main h1 {
        width:100%;
        font-size: 4rem
    }
}

#s-home .grid-layout #container-home #info-main h1 b {
    color: #0539bb;
    font-weight: 500
}

#s-home .grid-layout #container-home #info-main>p {
    max-width: 500px;
    margin-top: 32px;
    font-size: 2.4rem;
    line-height: 160%;
    color: #e1e1e6
}

@media screen and (max-width: 1140px) {
    #s-home .grid-layout #container-home #info-main>p {
        width:100%;
        font-size: 2rem
    }
}

#s-home .grid-layout #container-home article {
    background-color: #001446;
    border-radius: 5px;
    color: #ffffff;
    width: 50%;
    height: auto;
    padding: 32px
}

@media screen and (max-width: 1140px) {
    #s-home .grid-layout #container-home article {
        width:100%
    }
}

#s-home .grid-layout #container-home article div:nth-child(1) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px
}

#s-home .grid-layout #container-home article div:nth-child(1) h2 {
    background-color: #000000;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 4px;
    padding: 8px 24px;
    text-transform: uppercase
}

#s-home .grid-layout #container-home article div:nth-child(1) p {
    font-size: 1.8rem;
    color: #ffffff;
    font-weight: 500
}

#s-home .grid-layout #container-home article div:nth-child(2) {
    margin: 56px 0px
}

#s-home .grid-layout #container-home article div:nth-child(2) h4 {
    font-size: 6.4rem
}

@media screen and (max-width: 688px) {
    #s-home .grid-layout #container-home article div:nth-child(2) h4 {
        font-size:5.6rem
    }
}

#s-home .grid-layout #container-home article div:nth-child(2) h3 {
    font-size: 2.4rem;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 8px
}

#s-home .grid-layout #container-home article div:nth-child(2) h3 span {
    text-decoration: line-through
}

#s-home .grid-layout #container-home article a {
    background: #000000;
    padding: 16px;
    border-radius: 4px;
    display: flex;
    justify-content: center
}

#s-home .grid-layout #container-home article a:hover {
    background: rgb(18, 17, 17)

}

#s-home .grid-layout #container-home article a button {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.8rem;
    color: #fff;
    background-color: rgba(0,0,0,0);
    cursor: pointer
}

#s-home .grid-layout #container-home article #info-pay {
    text-align: center;
    font-size: 1.8rem;
    color: #fffdfd;
    margin-top: 24px;
    font-weight: 500
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px
}

.cards article {
    width: 20%;
    min-height: 290px;
    background-color: #151515;
    border: 2px solid #1f1f1f;
    border-radius: 4px;
    padding: 24px;
    flex-grow: 1
}

@media screen and (max-width: 1140px) {
    .cards article {
        width:48%;
        min-height: auto
    }
}

@media screen and (max-width: 688px) {
    .cards article {
        min-height:auto
    }
}

.cards article img {
    width: 40px
}

.cards article h3 {
    font-size: 2rem;
    margin: 24px 0px 16px 0px;
    font-weight: 500
}

@media screen and (max-width: 540px) {
    .cards article h3 {
        font-size:2rem
    }
}

.cards article p {
    font-size: 1.6rem;
    line-height: 160%;
    color: #e1e1e6
}

#s-advantage {
    padding: 96px 0px
}

@media screen and (max-width: 1140px) {
    #s-advantage {
        padding:32px 0px
    }
}

#s-technologies {
    padding: 96px 0px
}

#s-technologies .technologies-disable {
    opacity: .5;
    cursor: no-drop
}

@media screen and (max-width: 1140px) {
    #s-technologies {
        padding:32px 0px
    }
}

#s-technologies #next-icon {
    width: 56px
}

#s-technologies h2 {
    font-size: 4rem;
    max-width: 50%;
    font-weight: 500;
    text-align: center;
    margin: 0 auto 56px auto
}

@media screen and (max-width: 1140px) {
    #s-technologies h2 {
        max-width:100%;
        font-size: 2.4rem
    }
}

#s-technologies h2 b {
    color: #986dff;
    font-weight: 500
}

input[type="radio"] {
    display: none;
  }
  
  .carousel__stage {
    overflow: hidden;
    font-size: 0;
    white-space: nowrap;
    width: 70%;
    height: 80%;
    transition: text-indent 500ms;
    position: relative;
  }
  
  .carousel__item {
    display: inline-block;
    text-indent: 0;
    width: 100%;
    height: 100%;
  }
  
  .carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel__control {
    display: none;
    position: absolute;
    top: 50%;
    color: #fff;
    background: rgba(255, 255, 255, 0.3);
    z-index: 1;
    font-size: 1rem;
    padding: 20px;
    cursor: pointer;
  }
  
  .carousel__prev {
    left: 0;
  }
  
  .carousel__prev::after {
    content: ' << ';
    display: inline-block;
  }
  
  .carousel__next {
    right: 0;
  }
  
  .carousel__next::after {
    content: ' >> ';
    display: inline-block;
  }

  #carousel1:checked ~ .carousel__stage {
    text-indent: 0;
  }
  
  #carousel2:checked ~ .carousel__stage {
    text-indent: -100%;
  }
  
  #carousel3:checked ~ .carousel__stage {
    text-indent: -200%;
  }
  
  #carousel4:checked ~ .carousel__stage {
    text-indent: -300%;
  }

  #carousel5:checked ~ .carousel__stage {
    text-indent: -400%;
  }

#s-about {
    padding: 96px 0px
}

@media screen and (max-width: 1140px) {
    #s-about {
        padding:32px 0px
    }
}

#carousel1:checked ~ .carousel__stage .carousel__item:nth-child(1) .carousel__control,
#carousel2:checked ~ .carousel__stage .carousel__item:nth-child(2) .carousel__control,
#carousel3:checked ~ .carousel__stage .carousel__item:nth-child(3) .carousel__control,
#carousel4:checked ~ .carousel__stage .carousel__item:nth-child(4) .carousel__control,
#carousel5:checked ~ .carousel__stage .carousel__item:nth-child(5) .carousel__control {
  display: block;
}

#s-about .grid-layout>div {
    background-color: #151515;
    border: 2px solid #1f1f1f;
    padding: 24px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto
}

@media screen and (max-width: 1140px) {
    #s-about .grid-layout>div {
        flex-wrap:wrap;
        gap: 32px
    }
}

#s-about .grid-layout>div #creator-photo {
    width: 47%;
    background-image: url("../image/foto-iuricode.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    height: 500px
}

@media screen and (max-width: 1140px) {
    #s-about .grid-layout>div #creator-photo {
        width:100%;
        height: 400px
    }
}

@media screen and (max-width: 688px) {
    #s-about .grid-layout>div #creator-photo {
        height:350px
    }
}

@media screen and (max-width: 540px) {
    #s-about .grid-layout>div #creator-photo {
        height:300px
    }
}

#s-about .grid-layout>div #creator-photo h3 {
    color: #000000;
    background-color: #fff;
    padding: 7px;
    border-radius: 15px;
    width: 180px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 24px
}

#s-about .grid-layout>div div:nth-child(2) {
    width: 49%
}

@media screen and (max-width: 1140px) {
    #s-about .grid-layout>div div:nth-child(2) {
        width:100%
    }
}

#s-about .grid-layout>div div:nth-child(2) h2 {
    font-size: 4rem;
    font-weight: 500;
    margin-top: 16px
}

@media screen and (max-width: 688px) {
    #s-about .grid-layout>div div:nth-child(2) h2 {
        font-size:3.2rem
    }
}

#s-about .grid-layout>div div:nth-child(2) h3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 8px
}

#s-about .grid-layout>div div:nth-child(2) h4 {
    font-size: 2rem;
    font-weight: 400;
    color: rgb(227, 227, 231);
}

#s-about .grid-layout>div div:nth-child(2) p {
    font-size: 1.8rem;
    color: #e1e1e6;
    line-height: 160%;
    margin: 32px 0px 48px 0px
}

#s-about .grid-layout>div div:nth-child(2) nav ul {
    display: flex;
    align-items: center;
    gap: 32px
}

@media screen and (max-width: 1140px) {
    #s-about .grid-layout>div div:nth-child(2) nav ul {
        flex-wrap:wrap
    }
}

#s-about .grid-layout>div div:nth-child(2) nav ul a {
    background-color: #111;
    border: 2px solid #1f1f1f;
    border-radius: 6px;
    padding: 8px
}

@media screen and (max-width: 1140px) {
    #s-about .grid-layout>div div:nth-child(2) nav ul a img {
        width:40px
    }
}

#s-about .grid-layout>div div:nth-child(2) nav ul a:hover {
    border: 2px solid #986dff
}

#s-salary {
    padding: 96px 0px
}

@media screen and (max-width: 1140px) {
    #s-salary {
        padding:32px 0px
    }
}

#s-salary img {
    width: 40px
}

#s-salary h2 {
    font-size: 4rem;
    max-width: 45%;
    font-weight: 500;
    text-align: center;
    margin: 0 auto 56px auto
}

@media screen and (max-width: 1140px) {
    #s-salary h2 {
        max-width:100%;
        font-size: 2.4rem
    }
}

#s-salary h2 b {
    color: #986dff;
    font-weight: 500
}

#s-salary .cards-salary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px
}

#s-salary .cards-salary article {
    width: 30%;
    height: auto;
    background-color: #151515;
    border: 2px solid #1f1f1f;
    border-radius: 4px;
    padding: 24px;
    flex-grow: 1
}

@media screen and (max-width: 1140px) {
    #s-salary .cards-salary article {
        width:48%
    }
}

@media screen and (max-width: 688px) {
    #s-salary .cards-salary article {
        min-height:auto
    }
}

#s-salary .cards-salary article img {
    width: 40px
}

#s-salary .cards-salary article h3 {
    font-size: 1.8rem;
    margin: 24px 0px 16px 0px;
    font-weight: 500;
    color: #e1e1e6
}

@media screen and (max-width: 540px) {
    #s-salary .cards-salary article h3 {
        font-size:2rem
    }
}

#s-salary .cards-salary article h4 {
    font-size: 4.8rem
}

#s-students {
    padding: 96px 0px
}

@media screen and (max-width: 1140px) {
    #s-students {
        padding:32px 0px
    }
}

#s-students article {
    display: flex;
    align-items: center;
    justify-content: space-between
}

@media screen and (max-width: 688px) {
    #s-students article {
        flex-wrap:wrap
    }
}

#s-students article div:nth-child(1) {
    width: 50%
}

@media screen and (max-width: 688px) {
    #s-students article div:nth-child(1) {
        width:100%
    }
}

#s-students article div:nth-child(2) {
    width: 50%
}

@media screen and (max-width: 1140px) {
    #s-students article div:nth-child(2) {
        width:100%
    }
}

#s-students h2 {
    font-size: 4.8rem;
    font-weight: 500;
    width: 70%
}

@media screen and (max-width: 1140px) {
    #s-students h2 {
        font-size:2.4rem;
        width: 100%
    }
}

#s-students h2 b {
    color: #986dff;
    font-weight: 500
}

#s-students p {
    width: 80%;
    font-size: 2.4rem;
    color: #e1e1e6;
    line-height: 160%;
    margin: 32px 0
}

@media screen and (max-width: 1140px) {
    #s-students p {
        font-size:1.8rem;
        width: 100%
    }
}

#s-students a button {
    border: 2px solid #986dff;
    padding: 16px 32px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.8rem;
    color: #fff;
    background-color: rgba(0,0,0,0);
    cursor: pointer
}

#s-students a button:hover {
    background: #986dff
}

@media screen and (max-width: 688px) {
    #s-students a button {
        width:100%
    }
}

#s-depositions {
    padding: 96px 0px
}

@media screen and (max-width: 1140px) {
    #s-depositions {
        padding:32px 0px
    }
}

#s-depositions h2 {
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    max-width: 40%;
    margin: 0 auto 48px auto
}

@media screen and (max-width: 1140px) {
    #s-depositions h2 {
        max-width:100%;
        font-size: 2.4rem
    }
}

#s-depositions h2 b {
    color: #986dff;
    font-weight: 500
}

#s-depositions #container-depositions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px
}

#s-depositions #container-depositions article {
    width: 47%;
    background-color: #151515;
    border: 2px solid #1f1f1f;
    border-radius: 4px;
    padding: 24px;
    flex-grow: 1
}

@media screen and (max-width: 1140px) {
    #s-depositions #container-depositions article {
        width:100%
    }
}

#s-depositions #container-depositions article>div {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 32px
}

#s-depositions #container-depositions article>div img {
    width: 80px;
    border-radius: 4px
}

#s-depositions #container-depositions article>div span h3 {
    font-size: 2rem;
    font-weight: 500
}

#s-depositions #container-depositions article>div span div {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px
}

#s-depositions #container-depositions article>div span div img {
    width: 24px
}

#s-depositions #container-depositions article p {
    font-size: 1.8rem;
    line-height: 160%;
    color: #e1e1e6;
    font-style: italic
}

#s-companies {
    padding: 96px 0px
}

@media screen and (max-width: 1140px) {
    #s-companies {
        padding:32px 0px
    }
}

#s-companies h2 {
    font-size: 4rem;
    max-width: 50%;
    font-weight: 500;
    text-align: center;
    margin: 0 auto 56px auto
}

@media screen and (max-width: 1140px) {
    #s-companies h2 {
        max-width:100%;
        font-size: 2.4rem
    }
}

#s-companies h2 b {
    color: #986dff;
    font-weight: 500
}

#s-companies .cards-companies {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px
}

#s-companies .cards-companies article {
    width: 13.333%;
    height: auto;
    background-color: #151515;
    border: 2px solid #1f1f1f;
    border-radius: 4px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1
}

@media screen and (max-width: 1140px) {
    #s-companies .cards-companies article {
        width:26.333%
    }
}

@media screen and (max-width: 688px) {
    #s-companies .cards-companies article {
        width:46%
    }
}

#s-start {
    padding: 96px 0px
}

@media screen and (max-width: 1140px) {
    #s-start {
        padding:32px 0px
    }
}

#s-start article {
    padding: 80px;
    background-color: #151515;
    border: 2px solid #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    border-radius: 4px
}

@media screen and (max-width: 1140px) {
    #s-start article {
        flex-wrap:wrap;
        padding: 24px
    }
}

#s-start article #cta-start {
    text-align: center
}

#s-start article #cta-start p {
    margin: 16px 0px;
    font-weight: 500
}

#s-start article #cta-start p span {
    text-decoration: line-through
}

#s-start article #cta-start a button {
    margin: 32px 0;
    text-transform: uppercase;
    background: #986dff;
    padding: 16px 48px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer
}

#s-start article #cta-start a button:hover {
    background: #8155ea
}

#s-start article div h2 {
    font-size: 4rem;
    font-weight: 500;
    width: 500px;
    margin-bottom: 32px
}

@media screen and (max-width: 1140px) {
    #s-start article div h2 {
        width:100%;
        font-size: 2.4rem
    }
}

#s-start article div h2 b {
    color: #986dff;
    font-weight: 500
}

#s-start article div p {
    font-size: 1.8rem;
    color: #e1e1e6
}

#s-start article div h3 {
    font-size: 4.8rem;
    font-weight: 500
}

@media screen and (max-width: 1140px) {
    #s-start article div h3 {
        font-size:4rem
    }
}

#s-start article div h4 {
    font-size: 3.2rem;
    font-weight: 500;
    width: 350px
}

@media screen and (max-width: 1140px) {
    #s-start article div h4 {
        width:100%;
        text-align: center
    }
}

#s-start article div ul {
    margin-top: 48px
}

#s-start article div ul li {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 8px 0px
}

#s-notion {
    padding: 96px 0px
}

@media screen and (max-width: 1140px) {
    #s-notion {
        padding:32px 0px
    }
}

#s-notion article {
    display: flex;
    align-items: center;
    justify-content: space-between
}

@media screen and (max-width: 688px) {
    #s-notion article {
        flex-wrap:wrap
    }
}

#s-notion article div:nth-child(1) {
    width: 50%
}

@media screen and (max-width: 688px) {
    #s-notion article div:nth-child(1) {
        width:100%
    }
}

#s-notion article div:nth-child(2) {
    width: 50%
}

@media screen and (max-width: 1140px) {
    #s-notion article div:nth-child(2) {
        width:100%
    }
}

#s-notion h2 {
    font-size: 4rem;
    font-weight: 500;
    width: 80%
}

@media screen and (max-width: 1140px) {
    #s-notion h2 {
        font-size:2.4rem;
        width: 100%
    }
}

#s-notion h2 b {
    color: #986dff;
    font-weight: 500
}

#s-notion p {
    width: 80%;
    font-size: 2.4rem;
    color: #e1e1e6;
    line-height: 160%;
    margin: 32px 0
}

@media screen and (max-width: 1140px) {
    #s-notion p {
        font-size:1.8rem;
        width: 100%
    }
}

#s-notion a button {
    border: 2px solid #986dff;
    padding: 16px 32px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.8rem;
    color: #fff;
    background-color: rgba(0,0,0,0);
    cursor: pointer
}

#s-notion a button:hover {
    background: #986dff
}

@media screen and (max-width: 688px) {
    #s-notion a button {
        width:100%
    }
}

#s-eplus {
    padding: 96px 0px
}

@media screen and (max-width: 1140px) {
    #s-eplus {
        padding:32px 0px
    }
}

#s-eplus article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    background-color: #151515;
    border: 2px solid #1f1f1f;
    border-radius: 4px;
    padding: 24px
}

@media screen and (max-width: 688px) {
    #s-eplus article {
        flex-wrap:wrap
    }
}

#s-eplus article div {
    display: flex;
    align-items: center;
    gap: 32px
}

#s-eplus article div img {
    width: 48px
}

@media screen and (max-width: 1140px) {
    #s-eplus article div img {
        display:none
    }
}

#s-eplus article div h2 {
    max-width: 400px;
    font-size: 2.4rem;
    line-height: 130%
}

@media screen and (max-width: 688px) {
    #s-eplus article div h2 {
        max-width:100%
    }
}

#s-eplus article a button {
    border: 2px solid #74aa9c;
    padding: 16px 32px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.8rem;
    color: #fff;
    background-color: rgba(0,0,0,0);
    cursor: pointer
}

#s-eplus article a button:hover {
    background: #74aa9c
}

@media screen and (max-width: 688px) {
    #s-eplus article a button {
        width:100%
    }
}

@media screen and (max-width: 688px) {
    #s-eplus article a {
        width:100%
    }
}

#s-faq {
    padding: 96px 0px
}

@media screen and (max-width: 1140px) {
    #s-faq {
        padding:32px 0px
    }
}

#s-faq .grid-layout>div {
    margin-top: 96px
}

#s-faq .grid-layout>h2 {
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    max-width: 40%;
    margin: 0 auto 48px auto
}

@media screen and (max-width: 1140px) {
    #s-faq .grid-layout>h2 {
        max-width:100%;
        font-size: 2.4rem
    }
}

#s-faq .grid-layout>h2 b {
    color: #986dff;
    font-weight: 500
}

#s-faq .grid-layout .accordion {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    border-bottom: 1px solid #1f1f1f;
    cursor: pointer;
    transition: all .3s ease;
    padding-bottom: 32px
}

#s-faq .grid-layout .accordion:hover {
    color: #986dff
}

#s-faq .grid-layout .accordion h3 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 150%
}

#s-faq .grid-layout .accordion .icon {
    font-size: 3.2rem;
    font-weight: 300
}

#s-faq .grid-layout .panel {
    max-height: 0px;
    overflow: hidden;
    transition: all 1s ease;
    border-bottom: 1px solid #1f1f1f;
    margin-bottom: 24px
}

#s-faq .grid-layout .panel p {
    margin: 32px 0px;
    font-size: 2rem;
    color: #e1e1e6;
    line-height: 160%
}

#s-faq .grid-layout .panel a {
    color: #986dff
}

#s-faq .grid-layout .open {
    color: #986dff
}

footer {
    width: 100%;
    height: auto;
    padding: 16px 0px;
    background-color: #151515
}

footer .grid-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%
}

footer p {
    font-size: 1.8rem
}

footer p a {
    font-weight: 500;
    color: #986dff
}

footer img {
    width: 32px
}

footer div {
    display: flex;
    align-items: center;
    gap: 16px
}

@media screen and (max-width: 1140px) {
    footer .grid-layout {
        text-align:center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 32px
    }

    footer .grid-layout div {
        display: none
    }
}

#s-sample {
    padding: 96px 0px
}

#s-sample .grid-layout {
    display: flex
}

#s-sample .grid-layout div:nth-child(1) {
    width: 60%
}

@media screen and (max-width: 1140px) {
    #s-sample .grid-layout div:nth-child(1) {
        width:100%
    }
}

#s-sample .grid-layout div:nth-child(1) div {
    margin-top: 72px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px
}

#s-sample .grid-layout div:nth-child(1) a,#s-sample .grid-layout div:nth-child(1) button {
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;
    cursor: pointer
}

@media screen and (max-width: 540px) {
    #s-sample .grid-layout div:nth-child(1) a,#s-sample .grid-layout div:nth-child(1) button {
        width:100%;
        text-align: center
    }
}

#s-sample .grid-layout div:nth-child(1) a {
    padding: 16px 32px;
    border-radius: 4px
}

#s-sample .grid-layout div:nth-child(1) a:nth-child(1) {
    background: #986dff
}

#s-sample .grid-layout div:nth-child(1) a:nth-child(1):hover {
    background-color: #8155ea
}

#s-sample .grid-layout div:nth-child(1) a:nth-child(1) button {
    background-color: rgba(0,0,0,0)
}

#s-sample .grid-layout div:nth-child(1) a:nth-child(2) {
    color: #986dff;
    background-color: rgba(142,84,233,.1)
}

#s-sample .grid-layout div:nth-child(1) a:nth-child(2):hover {
    background-color: rgba(142,84,233,.2)
}

#s-sample .grid-layout div:nth-child(2) {
    width: 40%
}

@media screen and (max-width: 1140px) {
    #s-sample .grid-layout div:nth-child(2) {
        display:none
    }
}

@media screen and (max-width: 1140px) {
    #s-sample {
        padding:32px 0px
    }
}

#s-sample h2 {
    font-size: 3.2rem;
    max-width: 70%;
    font-weight: 500
}

@media screen and (max-width: 1140px) {
    #s-sample h2 {
        max-width:100%;
        font-size: 2.4rem
    }
}

#s-sample h2 b {
    color: #986dff;
    font-weight: 500
}

#s-sample ul {
    margin-top: 48px
}

#s-sample ul li {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 16px 0px
}

#s-sample ul li p {
    font-size: 1.8rem;
    line-height: 180%
}

#info-promotion {
    background: #001446;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999
}

#info-promotion p {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400
}

@media screen and (max-width: 688px) {
    #info-promotion p {
        font-size:1.6rem
    }
}

.grid-layout {
    max-width: 1216px;
    margin: 0 auto;
    padding: 0px 24px
}


